<!-- Fullscreen Confirmation Popup -->
<div id="confirmPopup" class="confirmation-popup">
    <div class="popup-container">
         <img class="popup-logo" src="{{asset "images/notify.png"}}" loading="lazy" alt="{{@site.title}}">
        
        <div class="popup-content">
            <div class="popup-title">医療従事者専用サイトの免責事項</div>
            <div class="popup-description">
                このサイトは医療従事者を対象としています。臨床試験のレビュー、解説、その他の医療情報などを含むサイトのコンテンツは情報提供のみを目的としています。このサイトは登録を必要とせず、製品の是認や宣伝は致しません。臨床データは日本の規制当局が承認した使用目的とは異なる場合がございます。情報を解釈いただく際は、自らの判断を用いてください。本サイトのコンテンツに基づいて下された決断について、当社は一切の責任を負いません。本サイトへアクセスをすることで、ご自身が医療従事者である確認と当社のプライバシーポリシーに同意されることとみなされます。
            </div>
            <div class="popup-question">あなたは医療関係者ですか？</div>
        </div>
        
        <div class="popup-buttons">
            <div class="popup-btn-yes" onclick="HealthcarePopup.confirmYes()">
                <div class="popup-yes-text">はい</div>
            </div>
            <div class="popup-btn-no" onclick="HealthcarePopup.confirmNo()">
                <div class="popup-no-text">いいえ</div>
            </div>
        </div>
    </div>
</div>
